---
// Supports weights 100-900
import "@fontsource-variable/montserrat";
import "../styles/global.scss";
import Navigation from "../components/Navigation.astro";
import External from "../components/External.astro";

interface Props {
	title: string;
	page: string;
	description: string;
}

const { title, page, description } = Astro.props;
const year = new Date().getFullYear();
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<External />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body id={page}>
		<a class="sr-only focus:not-sr-only skip-link" href="#about"
			>Skip to main content</a
		>
		<header class="navbar">
			<nav class="navbar-container">
				<input
					type="checkbox"
					id="menu-toggle"
					aria-label="Display the menu"
					aria-controls="menu"
				/>
				<label class="menu-btn" for="menu-toggle">
					<span></span>
				</label>
				<Navigation />
			</nav>
		</header>

		<slot />

		<footer>
			<p>
				&copy;<span id="footer-year">{year}</span>&nbsp;Fenix Therapeutic
				Services. All rights reserved.
			</p>
		</footer>
	</body><script is:inline data-astro-rerun>
		document.getElementById("footer-year").innerText = new Date().getFullYear();

		document.querySelector("nav input").onclick = function () {
			if (this.checked) this.setAttribute("aria-expanded", true);
			else this.setAttribute("aria-expanded", false);
		};
	</script>
	<script>
		const menu = document.getElementById("menu") as HTMLElement;
		const menuToggle = document.getElementById(
			"menu-toggle"
		) as HTMLFormElement;

		menu.addEventListener("click", handleMenuClick);

		function handleMenuClick(event: Event) {
			if (event.target instanceof HTMLAnchorElement) {
				menuToggle.checked = false;
			}
		}
	</script>
</html>
